LOGGER_LEVEL=info
FRONTEND_URL=https://floxy.local
SECRET_KEY=secret_key123456

ADMIN_EMAIL=admin@floxy.tech
ADMIN_TMP_PASSWORD=password543210

API_SERVER_ADDR=:3000
API_SERVER_READ_TIMEOUT=15s
API_SERVER_WRITE_TIMEOUT=30s
API_SERVER_IDLE_TIMEOUT=60s

TECH_SERVER_ADDR=:8081
TECH_SERVER_READ_TIMEOUT=15s
TECH_SERVER_WRITE_TIMEOUT=30s
TECH_SERVER_IDLE_TIMEOUT=60s

# PostgreSQL
POSTGRES_HOST=floxym-postgresql
POSTGRES_DATABASE=floxy
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_USER=floxy
MIGRATIONS_DIR=/migrations

# JWT
JWT_SECRET_KEY=secret_key123456
ACCESS_TOKEN_TTL=3h
REFRESH_TOKEN_TTL=168h
RESET_PASSWORD_TTL=8h

# SAML
SAML_ENABLED=false
SAML_CREATE_CERTS=true
SAML_ENTITY_ID=https://floxy.local/api/v1/saml/metadata
SAML_CALLBACK_URL="https://floxy.local/api/v1/auth/sso/callback"
SAML_CERTIFICATE_PATH="/opt/floxy/secrets/saml_cert.pem"
SAML_PRIVATE_KEY_PATH="/opt/floxy/secrets/saml_key.pem"
SAML_ALLOWED_ISSUERS=http://floxy-keycloak.local:9090/realms/floxy,https://floxy.local/api/v1/saml/acs
SAML_ATTRIBUTE_MAPPING=uid:username,email:email
SAML_PUBLIC_ROOT_URL="https://floxy.local"
SAML_IDP_METADATA_URL="http://floxy-keycloak.local:9090/realms/floxy/protocol/saml/descriptor"

# Mailer
MAILER_ADDR=floxy-mailhog:1025
MAILER_USER=admin@floxy.tech
MAILER_PASSWORD=Floxy123!
MAILER_FROM=noreply@floxy.tech
MAILER_ALLOW_INSECURE=true
MAILER_BASE_URL="https://floxy.local"
