ADMIN_EMAIL: admin@floxy.local
ADMIN_TMP_PASSWORD: Floxy123!

API_SERVER_ADDR: :443
API_SERVER_CERT_FILE: /Users/roman/projects/rom8726/floxy-project/floxy-manager/dev/nginx/ssl/floxy.local.crt
API_SERVER_KEY_FILE: /Users/roman/projects/rom8726/floxy-project/floxy-manager/dev/nginx/ssl/floxy.local.key
API_SERVER_USE_TLS: true

TECH_SERVER_ADDR: :8081

FRONTEND_URL: http://localhost:3001
JWT_SECRET_KEY: secret_123456789
SECRET_KEY: secret_123456789

POSTGRES_DATABASE: floxy
POSTGRES_HOST: host.docker.internal
POSTGRES_PASSWORD: password
POSTGRES_PORT: 5435
POSTGRES_USER: floxy

# Mailer
MAILER_ADDR: smtp.example.com:465
MAILER_FROM: noreply@example.com
MAILER_PASSWORD: password
MAILER_USER: user

# SAML
SAML_ENABLED=false
SAML_CREATE_CERTS=true
SAML_ENTITY_ID=https://togglr.local/api/v1/saml/metadata
SAML_CALLBACK_URL="https://togglr.local/api/v1/auth/sso/callback"
SAML_CERTIFICATE_PATH="/Users/roman/projects/rom8726/togglr-project/togglr/dev/secrets/saml_cert.pem"
SAML_PRIVATE_KEY_PATH="/Users/roman/projects/rom8726/togglr-project/togglr/dev/secrets/saml_key.pem"
SAML_ALLOWED_ISSUERS=http://togglr-keycloak.local:9090/realms/togglr,https://togglr.local/api/v1/saml/acs
SAML_ATTRIBUTE_MAPPING=uid:username,email:email
SAML_PUBLIC_ROOT_URL="https://togglr.local"
SAML_IDP_METADATA_URL="http://togglr-keycloak.local:9090/realms/togglr/protocol/saml/descriptor"
